

.IE8Fix 
{ 
    z-index: 1000;

}
	
body, input
{
	font-family: Tahoma;
	font-size: 11px;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.modal
{
    background-color:Olive;
    
    filter:alpha(opacity=40);
    opacity:0.7;
}
.modalPopup
{
	background-color: #ffffdd;
	border-width: 1px;
	-moz-border-radius: 5px;
	border-style: solid;
	border-color: Gray;	
	min-width: 250px;
	max-width:400px;	
}

.topHandle
{
	background-color: #97bae6;	
}

.table
{
	padding:0;
	margin:0;
}

.HeaderStyle th{text-align:left}
BODY
{
	background-color:aliceblue;
	margin:50px;
}

.money { color:Red; }
.grid 
{ 
	width:700px; 
	font-family:Tahoma;
	border:solid 1px #408BB6;
}
.grid H2 
{ 
	margin:0; padding:0; 
	color:#ffffff;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.grid .mid
{
	padding:3px 0px 0px 0px;
}
.grid .datatable
{
	width:100%;
	color:#666;
}        
.grid .datatable TH
{
    font-size:12px;
    font-weight:bold;
    letter-spacing:0px;
    text-align:left;
    padding:2px 4px;
    color:#333333;
    border-bottom:solid 2px #bbd9ee;
}
.grid .datatable TH A
{ 
	text-decoration:none;
	padding-right:18px; 
	color:#0066cc;
}
.grid .datatable TH.sortasc A { background:url(../App_Themes/asc.gif) right center no-repeat; }
.grid .datatable TH.sortdesc A { background:url(../App_Themes/desc.gif) right center no-repeat; }
.grid .datatable .row TD
{
    font-size:11px;
    text-align:left;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
}      
.grid .datatable .row:hover
{
	background-color:#fffacd;
	color:#000;
}

        .HeaderStyle th{text-align:left}
 
.grid .datatable .row TD.first { padding-left:10px; }
.grid .datatable TH.first { padding-left:10px; }
.grid .datatable .row:hover .first
{
    background-repeat:no-repeat;
	background-image:url(../App_Themes/bullet.gif);background-position:left center ;
}  
/* Data Pager Styles */
.grid TR.pager-row TD
{
    border-top:solid 2px #bbd9ee;
}
.grid .pager
{
    font-family:arial,sans-serif;
    text-align:center;
    padding:6px;	
    font-size:14px;
} 
.grid .pager SPAN.command,        
.grid .pager SPAN.current,        
.grid .pager A.command,
.grid TR.pager-row TD A
{
    color:#5a90ce;
    padding:0px 4px;
    text-decoration:none;
    border:none;
}
.grid .pager A.command:hover,
.grid TR.pager-row TD A:hover
{
    border:solid 1px #408BB6;
    background-color:#59A5D1;
    color:#fff;
    padding:0px 3px;
    text-decoration:none;
}        
.grid .pager SPAN.current,
.grid TR.pager-row TD SPAN
{
	border:none;
    font-weight:bold;
    color:#3e3e3e;
    padding:0px 6px;
}
.grid TR.pager-row TD
{
	border-top:none;
	text-align:center;
}
.grid TR.pager-row TABLE
{
	height:30px;
	margin:0 auto 0 auto;
}

div.WhiteLine {
 height:0px;
 border-top:  1px solid #FFFFFF;
 border-bottom: 0px;
 border-left: 0px;
 border-right: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 padding-right: 0px;
 color:Gray;
}



.staticMenuItemStyle {
text-align:center;
display:block;
padding-left:2px;
padding-right:2px;
margin-left:0;
}

.staticMenuItemSelectedStyle {
border:solid 1px #000;
}

.staticHoverStyle {
background-image:url(../Images/bg-black.gif);
}

.menuItem {
display:block;
}

.dynamicMenuItemStyle {
border:solid 1px #000;
background-color:Silver;
color:Red;
z-index:200;
position:relative;
}

.background {
border:solid 1px #000;
background-image:url(../Images/bg-black.gif);
}

.NavigationMenu {
font-family:Verdana;
font-size:10pt;
color: #FFF;
font-weight:600;
z-index:101;
background-image:url(../Images/bg-black.gif);
}

#h {
background:#CCCFFF;
padding:5px 0 6px 10px;
}

#e {
border:solid 1px #919191;
background-image:url(../Images/sub.gif);
padding:0 0 1px;
}

.menuItemMouseOver,.menuItemSelected {
border:solid 1px Navy;
background-image:url(../Images/bg-black.gif);
}

.NavigationMenu A:link,.NavigationMenu A:visited,.NavigationMenu A:active {
text-decoration:none;
color:#FFF;
display:block;
}

.currentNodeStyle,.nodeStyle,.rootNodeStyle,a.siteMapPath {
text-decoration:none;
font-family:Verdana;
font-size:10pt;
}

